* {
    padding: 0;
    margin: 0
}

.news_title {
    color: #212121;
    font-size: 23px;
    font-weight: bold;

}

.new-item {
    margin-top: 10px;
}

.paging a.active, .paging a.current {
    background-color: #F88C00;
}

.paging a {
    background-color: #eaeaea;
    border: solid 1px #eaeaea;
    color: white;
    display: inline-block;
    font: bold 12px/29px tahoma;
    margin: 0 3px;
    padding: 0 10px;
}